<div class="container bg-light p-4">
    <div class="row">
      <div class="bg-primary-subtle p-3">
        <h1 class="text-center">Cadastro de Alunos</h1>
        <form>
          <div class="mb-3">
            <label for="matricula" class="form-label">Matricula</label>
            <input type="text" 
                  class="form-control"   
                  id="matricula" 
                  name="matricula" 
            />
          </div>
  
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" 
                  class="form-control"   
                  id="nome" 
                  name="nome" 
            />
          </div>
  
          <div class="mb-3">
            <label for="curso" class="form-label">Curso</label>
            <input type="text" 
                  class="form-control"   
                  id="curso" 
                  name="curso" 
            />
          </div>
          <button type="salvar" class="btn btn-primary">Salvar</button>
        </form>
        <form>
        <h2 class="mt-5 text-center">Alunos:</h2>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Computação</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Eventos</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>Matemática</td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
  
  
  
  